body {
  background-image: url(paveiksliukai/fono.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: darkblue;
}

h3 {
  font-size: 35px;
}

p {
  font-size: 30px;
  text-align: justify;
  text-indent: 50px;
}
