body {
  background-color: khaki;
}

h1 {
  margin-left: 500px;
  margin-bottom: -40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
  margin-left: 50px;
  margin-bottom: -40px;
  font-family: ALGERIAN;
  color: rgb(105, 106, 109);
}
p {
  margin-left: 1200px;
}

img.dramenas {
  width: 1250px;
  height: 520px;
  margin-left: 50px;
  margin-right: 50px;
}
